<!-- /snippets/breadcrumb.liquid -->
{% comment %}
  Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}
{% unless template == 'index' %}
<hr>
<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
   
  <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}"><img src="https://cdn.shopify.com/s/files/1/1762/6385/files/home.png?9568845321853464744"></a>

  {% if template contains 'product' %}

    {% if collection %}
      <span aria-hidden="true">&rsaquo;</span>
      {% if collection.handle %}
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        {{ collection.title | link_to: url }}
      {% endif %}
    {% endif %}
    <span aria-hidden="true">&rsaquo;</span>
    <span>{{ product.title }}</span>

  {% elsif template contains 'collection' and collection.handle %}

    <span aria-hidden="true">&rsaquo;</span>
    {% if current_tags %}
      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
      {{ collection.title | link_to: url }}
      <!-- <span aria-hidden="true">&rsaquo;</span> 
      {% assign c_tag = current_tags %} 
    {% capture test %}{{ 'c_tag' |t}}  {% endcapture%}
    {{ test }}
     
  {{ c_tag |t | join: " + " }} -->
  
    {% else %}
      <span>{{ collection.title }}</span>
   
    {% endif %}

  {% elsif template == 'blog' %}

    <span aria-hidden="true">&rsaquo;</span>
    {% if current_tags %}
      {{ blog.title | link_to: blog.url }}
      <span aria-hidden="true">&rsaquo;</span>
      <span>{{ current_tags | join: " + " }}</span>{{ current_tags|t }} 
    {% else %}
    <span>{{ blog.title }}</span>
    {% endif %}

  {% elsif template == 'article' %}

    <span aria-hidden="true">&rsaquo;</span>
    {{ blog.title | link_to: blog.url }}
    <span aria-hidden="true">&rsaquo;</span>
    <span>{{ article.title }}</span>

  {% elsif template contains 'page' %}

   <span aria-hidden="true">&rsaquo;</span>
   <span>{{ page.title }}</span>
  
 {% elsif template == 'cart' %}

    <span aria-hidden="true">&rsaquo;</span>
   <span>{{ 'cart.general.title' | t }}</span>

  {% else %}

   <span aria-hidden="true">&rsaquo;</span>
   <span>{{ page_title }}</span>

  {% endif %}
  
</nav>
 
{% endunless %}
<hr>